@import "reset";
@import "functions";

body {
	background-color: gray(0.85);
	font-family: HelveticaNeue, Arial, "sans-serif";
}

a:hover {
	cursor: pointer;
}

.container {
	width: 500px;
	padding: 50px 0;
	margin: 0 auto;

	h1 {
		margin-bottom: 20px;
	}
}

.post-view {
	position: relative;
	width: 500px;
	padding: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	@include border-radius(5px);

	&:last-child {
		margin-bottom: 0px;
	}

	.popover-position-wrap {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}

	.popover-control {
		.popover-control-button {
			border-bottom-right-radius: 5px;
		}
	}
}

.popover-control {
	position: relative;

	.popover-control-button {
		@include no-selection();
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
		text-align: center;
		background-color: gray(0.95);

		&:hover {
			text-decoration: none;
			background-color: gray(0.80);
		}
	}

	.popover-list {
		padding: 3px 0;
		background-color: white;
		min-width: 150px;
		overflow: hidden;
		border: 1px solid rgba(0, 0, 0, 0.5);
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
		@include border-radius(5px);

		a {
			display: block;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;

			&:hover {
				text-decoration: none;
				background-color: #e6eff7;
			}
		}
	}
}