#home-page {
	#main {
		padding: 50px 0;

		h1, h2, li, p, pre {
			margin-bottom: 15px;
		}

		h1 {
			font-size: 30px;
			font-weight: 700;
		}

		section {
			margin-bottom: 50px;
		}

		pre {
			padding: 20px;
			border-radius: 5px;
		}

		.popover-wrap {
			text-align: center;

			.demo-popover {
				$length: 30px;
				font-size: 15px;
				width: $length;
				height: $length;
				display: inline-block;
				text-align: left;

				.demo-popover-button {
					display: block;
					width: $length;
					height: $length;
					line-height: $length;
					font-size: 20px;
					text-align: center;
					border-radius: ($length/2);
					color: white;
					background-color: #5aa3dc;

					&:hover {text-decoration: none;}
				}
			}
		}

		li {
			list-style: none;
		}
	}
}