html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, a, blockquote, pre, fieldset, table, th, td, textarea, input, img {
	margin: 0;
	padding: 0;
}
a img {
	border: none;
}
a:hover {
	cursor: pointer;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
:focus {
	outline: none; // Takes out the fuzzy line around links
}
input {
	border: none;
}

.hi {
	float: right;
}

.ui-popover-control-button {
	$length: 30px;

	display: block;
	width: $length;
	height: $length;
	line-height: $length;
	font-size: 20px;
	text-align: center;
	border-radius: ($length/2);

	&:hover {text-decoration: none;}
}

.ui-popover-control {
	.ui-popover-list {
		background-color: white;
		min-width: 150px;
		overflow: hidden;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		border-radius: 5px;

		a {
			display: block;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;

			&:hover {
				text-decoration: none;
				background-color: #e6eff7;
			}
		}
	}
}